@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 51%;
  @apply bg-black;
  transition: 0.5s all;
}
.primary-btn:hover:after {
  left: 0;
}

.primary-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 51%;
  @apply bg-black;
  transition: 0.5s all;
}
.primary-btn:hover:before {
  right: 0;
}

.primary-btn span {
  position: relative;
  z-index: 2;
  @apply text-black;
  transition: 0.5s all;
}
.primary-btn:hover span {
  @apply text-white;
}

.primary-btn:hover span:after {
  @apply bg-white;
}

.primary-btn span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 1px;
  @apply bg-black;
  z-index: -1;
  transition: 0.5s;
}

.primary-btn.blue {
  @apply bg-btn-accent;
}

.primary-btn.blue:hover {
  @apply bg-btn-accent;
}

.primary-btn.blue span {
  @apply text-white;
}

.primary-btn.blue span::after {
  @apply bg-white;
}

.primary-btn.black {
  @apply bg-black;
}

.primary-btn.black:hover {
  @apply bg-black;
}

.primary-btn.black span {
  @apply text-white;
}

.primary-btn.black span::after {
  @apply bg-white;
}

.primary-btn.black::before,
.primary-btn.black::after {
  @apply bg-btn-accent;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
  font-weight: bold;
  color: #333;
}
.content a:hover {
  color: #0077dd;
}
.content b,
.content strong {
  font-weight: 600;
}
.content p,
.content ul {
  font-size: 1em;
  line-height: 1.6;
  margin: 0 0 20px;
  color: #333;
}
.content p:after {
  clear: both;
  display: block;
  content: "";
}
.content a {
  color: #0077dd;
  text-decoration: none;
  cursor: pointer;
}

.content figure.image {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.content figure.image figcaption {
  background-color: #dbe1ea;
  font-size: 0.75em;
  color: #454d62;
  text-align: center;
  font-style: italic;
  line-height: 1.6;
  padding: 4px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%;
}
.content blockquote {
  border-left: 5px solid #0077dd;
  background: #f1f1f1;
  padding: 20px;
}
.content blockquote p {
  color: #333;
  font-size: 1em;
  font-style: italic;
  line-height: 28px;
}
.content o {
  color: red;
}
.content li {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 8px;
}
.content h1 {
  font-size: 2.5em;
}
.content h2 {
  font-size: 2.25em;
}
.content h3 {
  font-size: 2em;
}
.content h4 {
  font-size: 1.75em;
}
.content h5 {
  font-size: 1.5em;
}
.content h6 {
  font-size: 1.25em;
}
.content img {
  border-color: #007bff;
  max-width: 100% !important;
  height: auto !important;
}
.content table {
  width: 100%;
  border-color: rgba(0, 0, 0, 0.125);
  background-color: #fff;
  margin: 20px 0;
  border-collapse: collapse;
  max-width: 100% !important;
}
.content table,
.content th,
.content td {
  border: 1px solid #363636;
  padding: 8px;
}
.content th p,
.content td p {
  margin: 0;
}
.content caption {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px;
  font-weight: bold;
}
.content tr:hover {
  background-color: #eee;
  transition: 0.2s;
}
.content th {
  background-color: #1e88e5;
  color: white;
}
.content tr:nth-child(odd) {
  background-color: #f6f7fa;
}
.content hr {
  border: 0;
  border-top: 2px solid #333;
  opacity: 0.1;
}
.content ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.content ul li {
  display: list-item;
}
.content .videoWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.content .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.content .videoWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.content .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.content .embeddedContent {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.content .embeddedContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.content .videoWrapper {
  width: 100%;
  position: relative;
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
}
.content .videoWrapper--portrait {
  height: auto;
  padding-bottom: auto;
  text-align: center;
}
.content .videoWrapper--portrait iframe {
  display: inline-block;
}
.content .videoWrapper--horizontal {
  padding-bottom: 56.25%;
}
.content .videoWrapper--horizontal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.content .videoWrapper__top {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.header-dropdown {
  border-radius: 0;
}

.header-dropdown a {
  border-radius: 0;
}
